nav a {
    display: inline-block;
    margin: 1em;
}

h2 {
    text-align: center;
}

.picture {
    width:540px;
    height: auto;

}

.title {

  text-align: center;
}

.navbar {

  text-align: left;
}

.payButton {
  text-align: center;
}

.payment-options {
  text-align: center;
  display: block
}
